<h2>Show Relationship</h2>

<ul>

  <li>
    <strong>Actor:</strong>
    <%= @relationship.actor_id %>
  </li>

  <li>
    <strong>Receiver:</strong>
    <%= @relationship.receiver_id %>
  </li>

</ul>

<span><%= link "Edit", to: relationship_path(@conn, :edit, @relationship) %></span>
<span><%= link "Back", to: relationship_path(@conn, :index) %></span>
