<div class="row mb-3">
    <h1>Create a new account</h1>
</div>
<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

<span><%= link "Back", to: user_path(@conn, :index) %></span>
